table
  thead
    tr
      th Name
      th Category
      th Products Count
      th Revenue
  tbody
    - results.each do |row|
        tr
          td #{row["name"]}
          td #{row["category"]}
          td #{row["count"]}
          td #{row["result"]}

    - if results.blank?
     | There are no orders yet.